.block{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.block .block-item{
    align-items: center;
    background-color: #d1c8db;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 20%;
    position: relative;
}
.block p,i{  
    position: absolute;   
}
.block-item:hover{
    border: 1px solid black;
    cursor: pointer;
}